$color1: #0a345e;
$lightColor: #054e97;
$darktext: rgb(121, 121, 121);
.jobs{
    margin-top: 4.5rem;
    width: 100%;
    background: whitesmoke;
    padding: 2.5rem 8rem;

    .jobs-header{
        width: 100%;
        padding: 1rem 0rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        h4{
            width: 30%;
            font-size: 2rem;
        }

        .searchBar{
            width: 60%;
            #searchContainer{
                width: 100%;

                #search{
                    width: 80%;
                }
            }
        }


    }
}