$color1: #0a345e;
$lightColor: #054e97;
$darktext: rgb(121, 121, 121);
.jobs{
    margin-top: 4.5rem;
    width: 100%;
    background: whitesmoke;
    padding: 2.5rem 8rem;

    .jobs-header{
        width: 100%;
        padding: 1rem 0rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        h4{
            width: 20%;
            font-size: 2rem;
        }

        .searchBar{
            width: 60%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            #searchContainer{
                padding: 0;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                border: 1px solid lightgrey;
                border-radius: 8px;
                #search{
                    height: 100%;
                    width: 80%;
                    border: none;
                    font-size: 1.1rem;
                    color: black;
                    padding: .5rem;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                    outline: none;
                }
                #find{
                    height: 100%;
                    width: 20%;
                    border: none;
                    cursor: pointer;
                    font-size: 1rem;
                    padding: .5rem 0rem;
                    color: white;
                    background: $lightColor;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    &:hover{
                        background: $color1;
                    }
                }
            }
        }


    }
}