$color1: #0a345e;
$lightColor: #054e97;
$darktext: rgb(121, 121, 121);
.registerFreelancer {
    margin-top: 4.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: whitesmoke;
    padding: 2.5rem 10rem;
  
    .registerFreelancer-nav {
      min-width: 25%;
      margin-right: 1rem;

      #linkeninNav{
          background: lightgray;
      }
  
      ul {
        li {
            i{
                color: $color1;
            }
          padding: 1rem 0rem;
          a {
            pointer-events: none;
            color: black;
            i {
              padding: 0rem 1rem;
            }
          }

        }
      }
    }
  
    #registerForm {
      width: 80%;
      background: white;
      border-radius: 15px;
      border: 1px solid lightgrey;
    
      .start{
        display: inline-block;
        width: 100%;
        height: fit-content;
        .start-container{
            display: flex;
            flex-direction: column;
            width: 100%;
            .start-container-title{
                display: flex;
                flex-direction: row;
                width: 100%;
                border-bottom: 1px solid lightgray;
                padding: 1.5rem;
                h2{
                    font-size: 2rem;
                    color: $color1;
                }
            }
            .start-card{
                width: 100%;
                height: fit-content;
                padding: 1.5rem;
                display: flex;
                flex-direction: column;

                h3{
                    font-size: 1.5rem;
                    padding: 1rem 0rem;
                }

                input{
                    padding: 0rem .5rem;
                    width: 75%;
                    font-size: 1rem;
                }

                a{
                    width: fit-content;
                    padding: 0.5rem 0rem;
                    color: $lightColor;
                    font-size: 1.5rem;
                    i{
                        padding-right: .2rem;
                    }
                }

                p{
                    font-size: 1rem;
                    color: $darktext;
                    padding: 0.5rem 0rem;
                }
                .stepButtons{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    align-items: center;
                    justify-content: flex-start;

                    #skipStep{
                        width: 20%;
                        text-align: center;
                        margin: 1rem 0rem;
                        cursor: pointer;
                        font-size: 1rem;
                        padding:0.5rem 0rem;
                        color: $color1;
                        border-radius: 15px;
                        background: transparent;
                        border: .7px solid $color1;
                        &:hover{
                          background: whitesmoke;
                        }
                    }
                    #nextStep{
                        width: 20%;
                        text-align: center;
                        margin: 1rem 1rem;
                        cursor: pointer;
                        font-size: 1rem;
                        padding:0.5rem 0rem;
                        color: white;
                        border-radius: 15px;
                        background: $lightColor;
                        &:hover{
                          background: $color1;
                        }
                    }
                }
                
            }
        }
      }
      .expertise{
          display: none;
          width: 100%;
          height: fit-content;
          .expertise-container{
              display: flex;
              flex-direction: column;
              width: 100%;
              .expertise-container-title{
                  display: flex;
                  flex-direction: row;
                  width: 100%;
                  border-bottom: 1px solid lightgray;
                  padding: 1.5rem;
                  h2{
                      font-size: 2rem;
                      color: $color1;
                  }
              }
              .expertise-card{
                  width: 100%;
                  height: fit-content;
                  padding: 1.5rem;
                  display: flex;
                  flex-direction: column;
  
                  h3{
                      font-size: 1.5rem;
                      padding: 1rem 0rem;
                  }
  
                  input{
                      padding: 0rem .5rem;
                      width: 75%;
                      font-size: 1rem;
                  }
  
                  a{
                      width: fit-content;
                      padding: 0.5rem 0rem;
                      color: $lightColor;
                      font-size: 1.5rem;
                      i{
                          padding-right: .2rem;
                      }
                  }
  
                  p{
                      font-size: 1rem;
                      color: $darktext;
                      padding: 0.5rem 0rem;
                  }
                  .stepButtons{
                      display: flex;
                      flex-direction: row;
                      width: 100%;
                      align-items: center;
                      justify-content: flex-start;
  
                      #backToLinkedIn{
                          width: 20%;
                          text-align: center;
                          margin: 1rem 0rem;
                          cursor: pointer;
                          font-size: 1rem;
                          padding:0.5rem 0rem;
                          color: $color1;
                          border-radius: 15px;
                          background: transparent;
                          border: .7px solid $color1;
                          &:hover{
                            background: whitesmoke;
                          }
                      }
                      #nextStepEducation{
                          width: 20%;
                          text-align: center;
                          margin: 1rem 1rem;
                          cursor: pointer;
                          font-size: 1rem;
                          padding:0.5rem 0rem;
                          color: white;
                          border-radius: 15px;
                          background: $lightColor;
                          &:hover{
                            background: $color1;
                          }
                      }
                  }
                  
              }
          }
      }
      .education{
          display: none;
          width: 100%;
          height: fit-content;
          .education-container{
              display: flex;
              flex-direction: column;
              width: 100%;
              .education-container-title{
                  display: flex;
                  flex-direction: row;
                  width: 100%;
                  border-bottom: 1px solid lightgray;
                  padding: 1.5rem;
                  h2{
                      font-size: 2rem;
                      color: $color1;
                  }
              }
              .education-card{
                  width: 100%;
                  height: fit-content;
                  padding: 1.5rem;
                  display: flex;
                  flex-direction: column;
  
                  h3{
                      font-size: 1.5rem;
                      padding: 1rem 0rem;
                  }
  
                  input{
                      padding: 0rem .5rem;
                      width: 75%;
                      font-size: 1rem;
                  }
  
                  a{
                      width: fit-content;
                      padding: 0.5rem 0rem;
                      color: $lightColor;
                      font-size: 1.5rem;
                      i{
                          padding-right: .2rem;
                      }
                  }
  
                  p{
                      font-size: 1rem;
                      color: $darktext;
                      padding: 0.5rem 0rem;
                  }
                  .stepButtons{
                      display: flex;
                      flex-direction: row;
                      width: 100%;
                      align-items: center;
                      justify-content: flex-start;
  
                      #backToExpertise{
                          width: 20%;
                          text-align: center;
                          margin: 1rem 0rem;
                          cursor: pointer;
                          font-size: 1rem;
                          padding:0.5rem 0rem;
                          color: $color1;
                          border-radius: 15px;
                          background: transparent;
                          border: .7px solid $color1;
                          &:hover{
                            background: whitesmoke;
                          }
                      }
                      #nextStepEmployment{
                          width: 20%;
                          text-align: center;
                          margin: 1rem 1rem;
                          cursor: pointer;
                          font-size: 1rem;
                          padding:0.5rem 0rem;
                          color: white;
                          border-radius: 15px;
                          background: $lightColor;
                          &:hover{
                            background: $color1;
                          }
                      }
                  }
                  
              }
          }
      }
      .employment{
          display: none;
          width: 100%;
          height: fit-content;
          .employment-container{
              display: flex;
              flex-direction: column;
              width: 100%;
              .employment-container-title{
                  display: flex;
                  flex-direction: row;
                  width: 100%;
                  border-bottom: 1px solid lightgray;
                  padding: 1.5rem;
                  h2{
                      font-size: 2rem;
                      color: $color1;
                  }
              }
              .employment-card{
                  width: 100%;
                  height: fit-content;
                  padding: 1.5rem;
                  display: flex;
                  flex-direction: column;
  
                  h3{
                      font-size: 1.5rem;
                      padding: 1rem 0rem;
                  }
  
                  input{
                      padding: 0rem .5rem;
                      width: 75%;
                      font-size: 1rem;
                  }
  
                  a{
                      width: fit-content;
                      padding: 0.5rem 0rem;
                      color: $lightColor;
                      font-size: 1.5rem;
                      i{
                          padding-right: .2rem;
                      }
                  }
  
                  p{
                      font-size: 1rem;
                      color: $darktext;
                      padding: 0.5rem 0rem;
                  }
                  .stepButtons{
                      display: flex;
                      flex-direction: row;
                      width: 100%;
                      align-items: center;
                      justify-content: flex-start;
  
                      #backToEducation{
                          width: 20%;
                          text-align: center;
                          margin: 1rem 0rem;
                          cursor: pointer;
                          font-size: 1rem;
                          padding:0.5rem 0rem;
                          color: $color1;
                          border-radius: 15px;
                          background: transparent;
                          border: .7px solid $color1;
                          &:hover{
                            background: whitesmoke;
                          }
                      }
                      #nextStepPayRate{
                          width: 20%;
                          text-align: center;
                          margin: 1rem 1rem;
                          cursor: pointer;
                          font-size: 1rem;
                          padding:0.5rem 0rem;
                          color: white;
                          border-radius: 15px;
                          background: $lightColor;
                          &:hover{
                            background: $color1;
                          }
                      }
                  }
                  
              }
          }
      }
      .hourlyRate{
          display: none;
      }
      .titleDescription{
          display: none;
      }
      .profilePhoto{
          display: none;
      }
      .location{
          display: none;
      }
    }
  }